body{
   /*background: white;*/
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 175%;
    margin: 2% 2% 2% 2%;
    width: auto;
    /*border-color: blue;
    border-style: solid;*/
}
a{
  color: #FB9281;
  opacity:100%;
}
a:hover{
  color: #FD7663;
  font-weight: bold;
}


/********************************************************/
/*nav{
  border-color: blue;
  border-style: solid;
}*/

.navbar-light .navbar-nav .nav-link{
  color: #FB9281;
  opacity:100%;
  font-size: large;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: #FD7663;
  font-weight: bold;
}

.navbar-toggler.custom {
   border-color:  #FB9281;
}
.navbar-toggler .fas.fa-bars {
  color: #FB9281;
 
}

/********************************************************/
.fas.fa-circle.one{
  position: absolute;
  color: #FB9281;
  font-size: 10em;
  bottom:5vw;
  left:5vw;
  z-index:-1;
  opacity: .50;
}

.fas.fa-circle.two{
  position: absolute;
  color: #81fbba;
  font-size: 14em;
  bottom:25vw;
  left:50vw;
  z-index:-1;
  opacity: .50;
}

.fas.fa-circle.three{
  position: absolute;
  color: #cf81fb;
  font-size: 22em;
  bottom:-8vw;
  right:-4vw;
  z-index:-1;
  opacity: .50;
}

/*#title{
  border-color: blue;
  border-style: solid;
}
#secndBx{
  border-color: blue;
  border-style: solid;
}*/

#secndBx p{
  margin-top: 6px;
}
#firstBox{
  padding: 1%; /*for text*/
  text-align: center;
  color: white;
  font-family: 'Titillium Web', sans-serif;
 /* border-color: blue;
  border-style: solid;*/
}
#firstBox > img.aboutBox-img{
  /*border-radius: 50%;*/
  width: 100%;
  height: auto; 
}

#firstBox h1 {
  opacity: 0.75;
  margin-bottom: 1%;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  color:#000;
}
#firstBox h5{
  opacity: 0.75;
  margin-top: 2%;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 100;
  color: #000;
}
#firstBox p{
  opacity: 0.75;
  /* text-align: justify; */
  color: #000;
  font-size: 13px;
}

/*.container {
  border-color: blue;
  border-style: solid;
  overflow:auto;
}

footer{
 border-color: blue;
  border-style: solid;
}*/
.footer-nav ul {
  display:flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-nav a {
  text-decoration: none;
  padding: 1rem;
}
